*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;}
body {
    background: url(../img/PB.png);
}
h2{
    font-size: 50px;
    text-align: center;
    color: white;
    box-sizing: initial;
}
.calculadora{
    display: block;
    margin: 2rem auto;
    padding: 20px;
    background: rgb(118, 120, 122);
    width: 350px;
    height: 75vh;
    border-radius: 25px;
    border: 3px solid black;
}
.calculadora td button{
    display: block;
    border-radius: 15px;
    width: 70px;
    height: 65px;
    font-size: 30px;
    background-color: white;
    border: 3px solid black;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    width: 300px;
    height: 105px;
    line-height: 100px;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
}